{% extends 'base.html.twig' %}

{% block title %}Hello ConferenceController!{% endblock %}

{% block body %}

<div>
    <h1>Hello {{ controller_name }}! ✅</h1>
    <div>
        <img src="{{ asset('images/under-construction.gif') }}">
        <p>The cache was hit: {{ isCached }}</p>
        <p>Date: {{ now }}</p>
        <br />
        {% if conferences|length > 0 %}
        <ul>
            {% for conference in conferences %}
                <li><a href="{{ path('conference', { id: conference.id }) }}">{{ conference.year }} - {{ conference.city }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    
</div>
{% endblock %}
