{% extends 'base.html.twig' %}

{% block title %}Show!{% endblock %}

{% block body %}
    <div>
            <h2>{{ conference.city }} - {{ conference.year }}</h2>
            <div>
                {% for comment in comments %}
                    <div>
                        <h4>{{ comment.author }}</h4>
                        <small>{{ comment.createdAt|format_datetime('medium', 'short') }}</small>
                        <p>{{ comment.text }}</p>
                    </div>
                {% endfor %}
            </div>
            <hr />
            <p><a href="{{ path('homepage') }}">Go back</a></p>
    </div>
{% endblock %}
