{% extends 'base.html.twig' %}

{% block title %}Show!{% endblock %}

{% block body %}
    <div>
            <h2>{{ conference['city'] }} - {{ conference['year'] }}</h2>
            <div>
                {% for comment in conference['comments'] %}
                    <div class="comment">
                        <div class="column">
                            <h4>{{ comment['author'] }}</h4>
                            <small>{{ comment['createdAt'] }}</small>
                            <p>{{ comment['text'] }}</p>
                        </div>
                        <div class="column">
                            {% if comment['photoFileName'] != null %}
                                <img alt="{{ comment['photoFileName'] }}" style="margin: 0 auto;display:block;border:.1rem solid #ccc;padding:.1rem;border-radius: 50%;width:200px;height: auto;" src="{{ asset("uploads/photos/#{comment['photoFileName']}")  }}" />
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <hr />
            {% if errorMessage != '' %}
                <div class="error">
                    <p>{{ errorMessage }}</p>
                </div>
            {% endif %}
            <div>
                <h3>Add your own feedback</h3>
                {{ form(comment_form) }}
            </div>
            <p><a href="{{ path('homepage') }}">Go back</a></p>
    </div>
{% endblock %}
